.flex-container {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(204, 201, 201);
    border-radius: 25px;
    flex-direction: column;
    margin: 30%;
}


.circle {
    display: flex;
    justify-content: center;
}

.circle img {
    width: 100px;
    margin: 50px;
}

.square {
    background: black;
    width: 100px;
    height: 100px;
    justify-content: center;
}
.input1, .input2 {
    background-color: red;
    border-radius: 10px;
}
.btn {
    background-color: greenyellow;
    border-radius: 10px;
}